# Folders
inst/extdata/
logo/
paper/
case_studies/data

# Build and check artefacts
*.Rcheck/
*.tar.gz
Rplots.pdf

# Files
.RData
.Rproj.user
.Rhistory
.Rprofile
.DS_Store
wide_data.rds
docs
*.pptx
inst/cheatsheet/hdanalyzer_cheat-sheet_horizontal.pdf
inst/cheatsheet/hdanalyzer_cheat-sheet.afdesign
Makevars
