# Folders
inst/extdata/
logo/
paper/

# Files
.RData
.Rproj.user
.Rhistory
.Rprofile
.DS_Store
wide_data.rds
docs
inst/doc
*.pptx
inst/cheatsheet/hdanalyzer_cheat-sheet_horizontal.pdf
inst/cheatsheet/hdanalyzer_cheat-sheet.afdesign
Makevars
